.carrito {
  font-family: "Montserrat";
  text-transform: uppercase;
  text-align: center;
}
.botones-checkout {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-end;
}

.boton-carrito {
  background-color: #5e5e5e;
  border: 1px solid #5e5e5e;
}
.boton-modal {
  background-color: #5e5e5e;
  position: relative;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;

  border: none;
  padding: 10px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.form-contact {
  display: flex;
  flex-direction: column;
}
