H3 {
  font-family: "Montserrat";
  font-size: 62.5%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  text-transform: uppercase;
  color: #5e5e5e;
}
.contenedor-detalle {
  padding-top: 3rem;
  box-sizing: border-box;
  font-size: 62.5%; /*esto hace que 1rem=10px8 */
  display: block;
  max-width: 80rem;
  margin: 0 auto;
  font-family: "Montserrat";
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-items: center;
  line-height: 0.7;
  text-align: center;
}
.contenedor-detalle img {
  max-height: 30rem;
}

.contenedor-detalle p {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
}

.contenedor-detalle h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

.contenedor-detalle span {
  font-size: 2rem;
  font-weight: 350;
}

.card-button {
  font-size: 2.5rem;
  text-align: center;
}

.contenedor-nombreyprecio {
  padding: 1rem;
}
