.container-itemlistcard {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding: 15px;
  font-family: "Montserrat";
}

.botones-carrito {
  text-transform: uppercase;
  background-color: #5e5e5e;
  padding: 5px 10px;
  font-weight: 500;
  border-radius: 0;
}

.container-itemlistcard p {
  font-weight: 400;
  text-align: center;
  padding: 30px;
}

.empezarAComprar {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end;
}

.item-cart {
  display: flex;
  flex-direction: row;
  padding: 0px;
  width: 500px;
  position: inherit;
  align-items: center;
}

.cart-info {
  display: flex;
  flex-direction: row;
  padding: 0px;
  align-items: center;
  width: auto;
  height: auto;
}

.cart-action {
  padding: 10px;
}
