.logo {
  width: 150px;
}
.logo img {
  width: 100%;
}
.header .navigator li {
  margin-right: 50px;
  list-style: none;
}

.navigator {
  float: left;
  width: 100%;
  display: flex;
}

.header .navigator .navigator__link {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.navigator__link {
  font-weight: 200;
  font-size: 20px;
}

.navigator__link:hover {
  border-bottom: 1px solid #3cfce2;
  border-radius: 0%;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .container {
    text-align: center;
  }

  .container-nav {
    flex-direction: column;
  }

  .container-nav ul {
    flex-direction: column;
  }

  .container-nav li {
    margin: 0.8em 0;
  }
}
