.count-item {
  display: flex;
  justify-content: center;
  border: 1px solid #b6b5b5;
  margin: 15px;
  font-family: "Montserrat";
}
.count-item .count-cant {
  font-size: 14px;
  font-weight: 600;
}

.count-item button {
  font-weight: 700;
}

.count-cant {
  align-items: center;
  display: flex;
  justify-content: center;
}
